button{
    margin-top:5px;
}
.notes{
    height: 200px;
    width: 200px;
    background: yellow;
    position: relative;
    margin:auto;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding: 50px 0px 0px 0px;
    font-family: fantasy;
}